__pycache__
.claude
.env
.envrc
.mypy_cache
.python-version
.venv
.vscode/launch.json
.vscode/settings.json
*.clab.yml.bak
*.tar.xz
**/__pycache__
**/.benchmarks
**/.DS_Store
**/.pytest_cache
**/.ruff_cache
docker-compose.override.yml
docker-compose.yml
infrahub_demo.egg-info
generated-configs/